#side-bar {
  width: 280px;
  background-color: var(--color-secondary);
  padding: 2rem;
  position: relative;
}
#collapse-side-bar {
  width: 40px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
}
.nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

#username {
  font-size: var(--font-size-subheader);
  font-weight: 600;
  border: none;
  width: 100%;
  background-color: transparent;
}
#username:focus{
  outline: none;
}

.user-pp {
  height: 25px;
  aspect-ratio: 1/1;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_utsRYqm2mcnKN1AyAACFs04GW7sg6qD5gA&s");
  background-size: contain;
  border-radius: 50%;
}

#add-new-todo i {
  font-size: 2rem;
  color: var(--color-add-todo-icon);
}
#add-new-todo h2{
  color: var(--color-add-todo-text);
}
#add-new-project i {
  font-size: 2rem;
  color: var(--color-add-project-icon);
}
#add-new-project h2 {
  color: var(--color-add-project-text);
}
#history i {
  font-size: 2rem;
  color: var(--color-get-history-icon);

}
#history h2 {
   color: var(--color-get-history-text);
}
#side-bar .project,
#collapse-side-bar,
#add-new-todo,
#add-new-project,
#history {
  background-color: transparent;
  padding-left: 0.5rem;
  border: none;
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: var(--color-text-accent);
  border-radius: 8px;
}
#side-bar .project h2,
#side-bar button h2 {
  font-size: var(--font-size-subheader) !important;
}

.nav-utilities {
  margin-bottom: 1rem;
}
.content-title {
  font-size: var(--font-size-subheader);
  color: var(--color-text-secondary);
}

.project-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 80%;
}

.project-tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 3rem;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.selected-project{
  background-color: var(--color-priority-medium-fill) !important;
  color : var(--color-priority-high-border) !important;
}
.selected-project h2, .selected-project i{
  color : var(--color-priority-high-border) !important;
}

.project h2 {
  font-size: var(--font-size-subheader) !important;

  color: var(--color-text);
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.project .fa-folder-closed, .project .fa-folder-open {
  font-size: 1.8rem !important;
  color: var(--color-text-secondary);
}

.hover-effect:not(.selected-project):hover {
  background-color: #eeeeee !important;
}

.project-delete {
  display: none;
  background-color: transparent;
  border: none;
  color: var(--color-subtle);
  font-size: 1.8rem;
}

#side-bar .project:hover .project-delete {
  display: block !important;
}

.project-delete:hover {
  color: var(--color-text-secondary);
}
